.card-header {
    color: white;
}

.team-heading {
    background-color: lightsalmon;
}

.manager {
    background-color: blue;
}

.engineer {
    background-color: mediumslateblue;
}

.intern {
    background-color: lightseagreen;
}

.card {
    margin:  1rem;
    width: 20rem;
}